
table.collections {
	tr td:nth-child(3) {
		text-align: left;
	}
}

table.figurines {
	tr td:nth-child(4) {
		text-align: left;
	}
}

form.inline {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	border: none;
	padding: 0;
	box-shadow: none;
	
	input, select {
		padding: 0.1rem 0.8rem;
		margin: 0 0 0 0;
	}
}

table {
	th[colspan]:only-child {
		text-align: center;
	}
}

//canvas {
//	background-color: #EEE;
//}