
table.collections {
	tr td:nth-child(3) {
		text-align: left;
	}
}

table.figurines {
	tr td:nth-child(4) {
		text-align: left;
	}
}

form.inline {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	border: none;
	padding: 0;
	box-shadow: none;
	
	input, select {
		padding: 0.1rem 0.8rem;
		margin: 0 0 0 0;
	}
}

table {
	th[colspan]:only-child {
		text-align: center;
	}
	
	th a {
		color: lightgrey;
	}
	
	&.history.shame {
		tbody tr td:nth-child(2n) {
			border-left: solid 1px black;
		}
	}
	
	&.history.events {
		tr td:nth-child(4), tr td:nth-child(5) {
			text-align: left;
		}
	}
}

nav {
	img {
		image-rendering: pixelated;
		width: 300%;
	}
}
//canvas {
//	background-color: #EEE;
//}